#volume{
  display:flex;
  flex-direction:row;
  align-items: center;
  position:relative;
}

#volume-icon {
  position:absolute;
  top:-10px;
  left:50%;
  transform:translateX(-50%);
}

#volume input{
  -webkit-appearance:none;
  width:150px;
  margin:0;
}

#volume input::-webkit-slider-runnable-track{
  -webkit-appearance:none;
  height:4px;
  border-radius:2px;
  background:var(--light);
}

#volume input::-webkit-slider-thumb{
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border-radius:50%;
  background:var(--dark);
  margin:-8px;
}
