input[type=range]{
  transform:translateX(-50%) rotateZ(270deg);
  transform-origin: center;
  position:absolute;
  top:50%;
  left:50%;
  z-index:9999;
}

#drum-machine{
  width:800px;
  height:400px;
  padding:50px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  border-radius:20px;
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  overflow:hidden;
  font-family: 'Quicksand', sans-serif;
}

.enable{
  --light:pink;
  --dark:#ED4C67;
}

.enable input, .enable .drum-pad{
  cursor:pointer;
}

.disable{
  --light:#ecf0f1;
  --dark:#7f8c8d;
}

#drum-machine:focus, input:focus{
  outline:none;
}

#meta{
  grid-column:8/13;
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  grid-template-rows: 3fr 1fr;
  padding:50px 20px;
}
