#pad{
  grid-column:1/8;
  display:grid;
  grid-template-columns: repeat(3, 130px);
  justify-content: center;
  align-items: center;
}

.grid-item{
  display:flex;
  align-items: center;
}

.drum-pad{
  width:100px;
  height:100px;
  margin:0 auto;
  background:var(--light);
  border-radius:50%;
  display:flex;
  align-items: center;
}

.drum-pad:focus{
  outline:none;
}

.drum-pad p{
  margin: 0 auto;
  font-size:21px;
  cursor:default;
  color:var(--dark);
  font-weight:600;
}
